/* Strato#4763 */
.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/322758556946530304"]::before {
  content: url(https://nfld99.com/images/Boops/Strato.png);
}

.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/322758556946530304"]:hover::before {
  content: url(https://nfld99.com/images/Boops/Strato.gif);
}

.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/322758556946530304"]::after {
  content: "Hello Im Strato! \a The man. The myth. The legend. \a 2nd Donator";
}
/* Strato#4763 */