/* Credit to MasicoreLord#5338 (197435711476072449) */
.guildsWrapper-5TJh6A {
  width: calc(var(--Guild-Rows) * 65px)
}

.guildsWrapper-5TJh6A .scrollerWrap-1IAIlv {
  width: calc(var(--Guild-Rows) * 64px)!important;
}
/* Credit to MasicoreLord#5338 (197435711476072449) */

.guildsWrapper-5TJh6A .guilds-1q_RqH {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  align-content: flex-start;
  justify-content: center;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ {
  position: relative;
  margin: 8px 5px 2px 5px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.guildInner-3DSoA4 {
  cursor: pointer;
  overflow: hidden;
  border-radius: 25px;
  background: transparent !important;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .friends-icon {
  background-size: 50%!important;
  background-position: 30% 35%!important;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.guildInner-3DSoA4 a {
  background-size: cover!important;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr::before {
  left: -2px;
  top: 5px;
  z-index: 9000;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH>.guild:first-child {
  position: relative;
  left: 0;
  margin: auto;
}

#bd-pub-li {
  position: absolute;
  top: 0;
  left: 0;
}

#bd-pub-li #bd-pub-button {
  position: absolute;
  width: 100%;
  text-align: center;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guildSeparator-1X4GQ1 {
  position: relative;
  width: 100%;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM {
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 5px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq:before {
  display: none;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV .guild-1EfMGQ {
  left: 0;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV .guild-1EfMGQ {
  margin: 8px 8px 8px 0;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV .guild-1EfMGQ+.guild-1EfMGQ {
  margin-left: 0;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV:empty {
  display: none;
}

.guildsWrapper-5TJh6A.foldercontent.da-guildsWrapper.da-foldercontent.foldercontentopen>div {
  width: 60px!important;
}

.foldercontentopen>.scrollerWrap-1IAIlv {
  width: 50.5px!important;
  padding-left: 5px;
}

.foldercontent {
  width: 62px!important;
}