@import "Source_Code/Master_Code.scss";
@import "Source_Code/Use_Animations_No.scss";
@import "Source_Code/Use_Fonts_No.scss";
@import "Source_Code/Use_Minimal_No.scss";
@import "Source_Code/Use_Popup_Yes.scss";
@import "Source_Code/Use_Hide_Channels_No.scss";
@import "Source_Code/Use_Hide_Chat_Title_Bar_No.scss";
@import "Source_Code/Use_Hide_Guilds_No.scss";
@import "Source_Code/Use_Hide_Invites_No.scss";
@import "Source_Code/Use_Hide_Members_No.scss";
@import "Source_Code/Use_Hide_Windows_Bar_No.scss";
@import "Source_Code/Use_Hide_Offline_No.scss";
@import "Source_Code/Use_Hide_Popout_Footer_Yes.scss";
@import "Source_Code/Use_Transparency_No.scss";
  $Main-Colour: rgba(74,107,26,1);
  $Background-Colour: rgba(0,0,0,1);
  $S-Colour: rgba(0,0,0,.3);
  $M-Colour: rgba(74,107,26,.5);
  $Text-Shadow-Colour: rgba(0,0,0,.65);
  $Scroller-Colour: rgba(74,107,26,0);
  $Notification-Colour: rgba(74,107,26,1);
  $Chat-Input-Background: rgba(0,0,0,0);
  $Chat-Input-Colour: $Main-Colour;
  $Unread-Message-1: $Main-Colour;
  $Unread-Message-2: $Background-Colour;
  $Chat-Background:  "Source_Code/images/420.png";
  $Settings-Background:  "Source_Code/images/420.png";
  $Callout-Background:  "Source_Code/images/420.png";
  $Title-Background: $Background-Colour;
  $Theme-Variant: " 420";
  $Chat-Font-Used:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif ;
  $Chat-Font-Size: 15px;
  $Unread-Message-Speed: 1.5s;
  $Popout-Main-Colour: $Main-Colour;
  $Popout-Background: $Chat-Background;
  $Popout-Text-Shadow-Colour:$Text-Shadow-Colour;
  $Emote-Popout-Background: $S-Colour;
  $load1: "Thank You!";
  $load2: "Please Enjoy!";
  $load3: "➢NFLD99";
  $Settings-Dock-Colour: $Main-Colour;
  $Timestamp-Colour: $M-Colour;
  $Guild-Rows: 2;
  $Chat-Avatar-Border-Radius: 10%;
  $Background-Brightness: 0.43;
