.backdrop-1ocfXc,.backdrop-1wrmKB {
  background: url(https://i.imgur.com/3bNtp1z.png) 50% 50%/cover !important;
}
.image-1SwJLX.loaded-1CMjvT{
  background: url(https://i.imgur.com/3bNtp1z.png) 50% 50%/cover !important;
}
.wrapper-3Q5DdO{
  background: url(https://i.imgur.com/3bNtp1z.png) 50% 50%/cover !important;
}
.theme-dark .ui-standard-sidebar-view {
  background: url(https://i.imgur.com/3bNtp1z.png) 50% 50%/cover !important;
}
.app {
  background: url(https://i.imgur.com/3bNtp1z.png) 50% 50%/cover !important;
}
.appMount-3VJmYg {
  background: url(https://i.imgur.com/3bNtp1z.png) 50% 50%/cover !important;
  background-color: transparent!important;
}
body{
  background:url(https://i.imgur.com/3bNtp1z.png) 50% 50%/cover !important;
}